
.header{
  display: inline-block;
  border-radius: 80px 2px 80px;
  background-color: rgb(66, 66, 152);
  font-size:50px;
}
.noteHeader{
  display:grid;
}

.button{
  display: inline-block;
  border-radius: 150px 25px;
  background-color: bisque;
  border: none;
  color:cadetblue;
  text-align:center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin:5px;
}

.button span{
cursor:pointer;
display:inline-block;
position: relative;
transition:0.5s;
}

button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5;  
}
.button:hover span {
  padding-right: 35px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.noteHeader{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  justify-content: end;
  background-color: yellow;
}

li{
 font-weight: bolder;
}